<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <link rel="stylesheet" href="/media/css/blog.css">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Expense Tracker</title>
    <link rel="stylesheet" href="blog.css">
  </head>
<style>
 .navbar {
      background-color: #2c3e50 !important;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container.marketing .border {
    border-color: #1abc9c !important;
    background-color: #eafaf9;
    box-shadow: 0 1px 5px rgba(26, 188, 156, 0.3);
    transition: transform 0.3s ease;
}

.container.marketing .border:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(26, 188, 156, 0.5);
}



  </style>
<body>
    {% load static %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="main.html">Expense Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        </ul>
        <form
          class="form-inline my-2 my-lg-0"
          style="margin-right: 50px; display: flex; gap: 18px"
        >
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Login
          </button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Sign up
          </button>
        </form>
      </div>
    </nav>


    <section class="jumbotron text-center font-weight-bold " >
      <div class="container">
         <h1 class="jumbotron-heading">
            Track     <span class="text-success">Expense</span>
        </h1>
        <p class="font-weight-bold">
          "Know where every rupee goes. Manage your budget with ease."
        </p>
        <p>
          <a href="{% url "index" %}" class="btn btn-primary my-2"> <i class="fa-solid fa-arrow-right"></i>Start Tracking Now</a>
        </p>
      </div>
    </section>

  
<div class="container pl-3">
  <div class="row featurette ">
    <div class="col-md-7 pl-3">
      <h2 class="text-muted">About</h2>
      <p class="lead">Expense Tracker is a responsive web application that works seamlessly on desktops,
         tablets, and mobile devices.It is built with modern front-end technologies: HTML, CSS, and JavaScript, and powered by Python on the backend. 
         All your expense data is securely stored in a connected database,
          ensuring safe and reliable access whenever you need it. </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto"  alt="500x500" src="{% static 'images/expenseimage.jpg' %} " data-holder-rendered="true" style="width: 400px; height: 300px;">
    </div>
</div>
</div>




    <div class="container  pl-3">
      <h2 class="pb-3 mb-4  font-dark border-bottom border-dark text-info">
         Built With   
    </h2>
    </div>

<div class="container marketing ">
        <div class="row" >
          <div class="col-lg-2 border rounded p-3 text-center mx-5">
            <img class="rounded-circle" src="{% static 'images/html-5.png' %}" alt="Generic placeholder image" width="80" height="80">
            <h4>HTML</h4>
            <p></p>
          </div>
          <div class="col-lg-2 border rounded p-3 text-center mx-5">
            <img class="rounded-circle" src="{% static 'images/css-3.png'%} " alt="Generic placeholder image" width="80" height="80">
            <h4>CSS</h4>
            <p></p>
          </div>
          <div class="col-lg-2 border rounded p-3 text-center mx-5">
            <img class="rounded-circle" src="{% static 'images/java-script.png'%} " alt="Generic placeholder image" width="80" height="80">
            <h4>java-script</h4>
          </div>
           <div class="col-lg-2 border rounded p-3 text-center mx-5 mt-5">
            <img class="rounded-circle" src="{% static 'images/python.png'%} " alt="Generic placeholder image" width="80" height="80">
            <h4>python-django</h4>
          </div>
           <div class="col-lg-2 border rounded p-3 text-center mx-5 mt-5">
            <img class="rounded-circle" src="{% static 'images/mysql-database.png'%} " alt="Generic placeholder image" width="80" height="80">
            <h4>mysql-database</h4>
          </div>
    </div>


<div class="card text-center">
  <div class="card-body">
    <a href="#" class="btn btn-primary " width="80" height="80">Track Now</a>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
</body>
</html>
